# Trying Out Signal Building using Random Forest Regressor

### Setup - Importing Data and Creating Model Object

In [1]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
MAX_LOOKBACK = 50
select = RFE(RandomForestRegressor(n_estimators=100, random_state=42),
                 n_features_to_select=10)

In [3]:
ticker_df = pd.read_csv('ticker_data.csv')
factor_df = pd.read_csv('factor_data.csv')

In [4]:
ticker_df.shape

(2520000, 7)

In [5]:
factor_df.shape

(2520, 11)

In [6]:
ticker_df.set_index('timestep', inplace=True)
factor_df.set_index('timestep', inplace=True)

In [7]:
# for idx in stock_df.index.unique():
#     if idx < MAX_LOOKBACK:
#         continue
#     stock_features = stock_df.loc[idx-MAX_LOOKBACK:idx-1]
#     returns = stock_df.loc[idx:idx].set_index('ticker')['returns']

In [8]:
ticker_df.tail()

            index industry    market_cap        pb   returns  ticker
timestep
2519      2519996    OTHER  1.035594e+11  1.979052  0.001703     995
2519      2519997    OTHER  5.142583e+10  0.583961  0.005253     996
2519      2519998    OTHER  3.950213e+10  1.652489  0.001301     997
2519      2519999    OTHER  8.575395e+10  0.539744  0.001784     998
2519      2520000    OTHER  7.303320e+10  4.574023  0.005336     999

In [109]:
factor_df.tail()

,VIX,COPP,3M_R,US_TRY,BIG_IX,SMALL_IX,SENTI,TEMP,RAIN,OIL
timestep,,,,,,,,,,
2515,15.511097,79.723423,0.116463,0.132864,189.597902,226.271197,78.053635,73.720732,0.018578,61.027667
2516,15.560791,73.733307,0.116408,0.127496,189.258870,225.995475,77.970899,71.743760,0.387718,50.240109
2517,16.208143,88.971753,0.115656,0.131096,188.843321,225.471760,77.604489,78.626178,0.083130,61.180614
2518,15.516858,82.511739,0.116453,0.135125,188.472021,225.135769,77.236877,77.127699,0.139215,41.940835
2519,14.642877,77.141319,0.117766,0.133586,188.064200,224.556336,76.139491,73.692392,0.028061,46.885229

In [96]:
market_factors = factor_df.loc[:0]
current = market_factors
current.shape

(1, 10)

In [97]:
market_factors = market_factors.append([current]*999);

In [98]:
market_factors.shape

(1000, 10)

In [99]:
market_factors.head()

,VIX,COPP,3M_R,US_TRY,BIG_IX,SMALL_IX,SENTI,TEMP,RAIN,OIL
timestep,,,,,,,,,,
0,15.0,90.0,0.06,0.27,100.0,100.0,80.0,74.819656,0.639413,65.0
0,15.0,90.0,0.06,0.27,100.0,100.0,80.0,74.819656,0.639413,65.0
0,15.0,90.0,0.06,0.27,100.0,100.0,80.0,74.819656,0.639413,65.0
0,15.0,90.0,0.06,0.27,100.0,100.0,80.0,74.819656,0.639413,65.0
0,15.0,90.0,0.06,0.27,100.0,100.0,80.0,74.819656,0.639413,65.0

In [113]:
for row in range(1,2520):
    row_to_append = factor_df.loc[row:row]
    market_factors = market_factors.append([row_to_append]*1000)

In [106]:
factor_df.index[1:]

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519],
           dtype='int64', name='timestep', length=2519)

In [111]:
market_factors.shape

(2628000, 10)

### Train-Test Splitting Data

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(stock_features, returns, random_state = 0)
# select.fit(X_train, y_train)